body {
	background-image: url("https://raw.githubusercontent.com/bcwells/bcwells.github.io/master/unit_2/wfhomepage.png");
	color: #fff;
}

background-image {
	width: 100%;
}

h1 {
	font-family: 'Open Sans';
	font-size: 26px;
	font-weight: 300; 
}
p {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
}