body {
	background-image: url("https://github.com/bcwells/bcwells.github.io/blob/master/unit_1/images/wfhomepage.png?raw=true");
	background-size: cover;
	background-image-repeat: none; 
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans';
	margin: 0;
}

h1 {
	font-family: 'Open Sans';
	font-size: 26px;
	font-weight: 300; 
}
p {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
}
header {
	position: fixed;
	top: 0;
	width: 100%
	height: 90px;
	background-color: #1b1321;
	z-index: 9999;
}

/*ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
li {
	display: inline;
	float: left;
	padding: 10px;*/
}
a:link, a:visited {
	display: block;
    width: 120px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #1b1321;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
	font-weight: 300;
	color: #b1b1b1 ;
	cursor: pointer;
}
div {
	background-color: blue;
}
.menu {
	background-color: red;
	padding: 50 0 0 0;
}
.spacer {
	position: relative;
	display: block;
	width: 100%;
	height: calc(50vh - 210px);
	opacity: 0;
}
.container {
	position: relative;
	width: 100%;
	background-color: #1b1321;
	opacity: 0.5;
	text-align: center;
	padding: 10px 10px 10px 10px;
}
nav {

}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #1b1321;
    opacity: 0.5;
}
.nav li{
    display:inline;
    color: white;
}
.nav a{
	text-decoration: none;
    display:inline-block;
    color: white;
    padding:10px;
}
.nav a:hover{
	color: #b1b1b1;
	font-weight: 400;
}