body {
	background-image: url("/unit_1/images/wfbackground.png");
	color: #fff;
}

h1 {
	font-family: 'Open Sans';
	font-size: 26px;
	font-weight: 300; 
}
p {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
}