@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100);
body {
	background-image: url("https://github.com/bcwells/bcwells.github.io/blob/master/unit_1/images/wfhomepage.png?raw=true");
	background-size: cover;
	color: #FFF;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin: 0;
}
h1 {
	color: #FFF;
	background-color: rgba(45,35,46,0.8);
	font-family: 'Cantarell', sans-serif;
	font-weight: 400;
	font-size: 3em;
	text-transform: uppercase;
}
p {
	font-weight: 300;
	text-align: left;
	margin: 20px;
}
a {
	text-decoration: none;
	color: #FFF;
}
ul {
	text-align: center;
	list-style-type: none;
	display: inline;
	word-spacing: 20px;
}
ul li{
	display: inline;
	font-size: 1.5em;
}
#slogan {
	font-style: italic;
	text-align: center;
}
.menu {
	color: #FFF;
	position: absolute;
	top: 300px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(45,35,46,0.8);
	width: 100%;
	height: 200px;
}
.nav {
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFF;
}